<ul class="">
    <li class=""><small>&copy; 2022 Sap pas chère</small></li>                
    <li class=""><small><a href="">Mentions légales</a></small></li>                
    {# <li class="list-group-item"><a href="#">Retour haut de page</a></li>                 #}
</ul>
